    <main>
        <h1 class="titulo">Certificaciones</h1>
    <div class="certificados-grid">
            
        <div class="certificado-card">
            <img src="31.png" alt="Insignia de Diplomado en Técnico en integridad web">
            <div class="card-content">
                <h3>Técnico en Integridad Web</h3>
                <p>Capacítate para el Empleo</p>
                <div class="card-actions">
                    <a href="https://capacitateparaelempleo.org/verifica/5018bb38-7cf9-4d45-9529-8c125b35aa3a/024413ac-bd5f-48a0-96b4-3adddaa5aac9" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="capacitate_empleo_badge1.png" alt="Insignia de Asistente web">
            <div class="card-content">
                <h3>Asistente Web</h3>
                <p>Capacítate para el Empleo</p>
                <div class="card-actions">
                    <a href="https://capacitateparaelempleo.org/verifica/5018bb38-7cf9-4d45-9529-8c125b35aa3a/e7bd8b1f-e5bb-41b8-bfa7-52362ed99e27" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="1.png" alt="Insignia de Curador de datos">
            <div class="card-content">
                <h3>Curador de Datos</h3>
                <p>Capacítate para el Empleo</p>
                <div class="card-actions">
                    <a href="https://capacitateparaelempleo.org/verifica/5018bb38-7cf9-4d45-9529-8c125b35aa3a/9249751d-8dc7-460c-9da7-902f201291d8" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="2.png" alt="Insignia de Tester">
            <div class="card-content">
                <h3>Tester</h3>
                <p>Capacítate para el Empleo</p>
                <div class="card-actions">
                    <a href="https://capacitateparaelempleo.org/verifica/5018bb38-7cf9-4d45-9529-8c125b35aa3a/8e246d75-cc5c-4386-933c-15a20d32ea91" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="3.png" alt="Insignia de Curso Profesional de Docker">
            <div class="card-content">
                <h3>Curso Profesional de Docker</h3>
                <p>Código Facilito</p>
                <div class="card-actions">
                    <a href="https://codigofacilito.com/certificates/bf91419c-968e-40bc-a450-8306e39142da" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="4.png" alt="Insignia de Curso a fondo de GitHub">
            <div class="card-content">
                <h3>Curso a fondo de GitHub</h3>
                <p>Código Facilito</p>
                <div class="card-actions">
                    <a href="https://codigofacilito.com/certificates/73c59f25-cdb0-4f98-af08-f15d05cf35f4" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="5.png" alt="Insignia de Curso de Bases y conceptos de la Ciencia de Datos">
            <div class="card-content">
                <h3>Ciencia de Datos</h3>
                <p>Código Facilito</p>
                <div class="card-actions">
                    <a href="https://codigofacilito.com/certificates/d1e4a339-922a-4928-8c33-7df27b074324" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        
        <div class="certificado-card">
            <img src="6.png" alt="Insignia de Curso de Python Profesional">
            <div class="card-content">
                <h3>Python Profesional</h3>
                <p>Código Facilito</p>
                <div class="card-actions">
                    <a href="https://codigofacilito.com/certificates/caea5893-88f9-4ed6-9b8c-648b2990ff43" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="7.png" alt="Insignia de Curso profesional de C++">
            <div class="card-content">
                <h3>Curso de C++ Profesional</h3>
                <p>Código Facilito</p>
                <div class="card-actions">
                    <a href="https://codigofacilito.com/certificates/71196180-5cf4-4356-aaf1-0dc11509ce73" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="8.png" alt="Insignia de Curso profesional de Git">
            <div class="card-content">
                <h3>Git Profesional</h3>
                <p>Código Facilito</p>
                <div class="card-actions">
                    <a href="https://codigofacilito.com/certificates/2007b93d-9229-48bb-bbb8-8b566d02e6ca" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        
        <div class="certificado-card">
            <img src="9.png" alt="Insignia de Curso profesional de JavaScript">
            <div class="card-content">
                <h3>JavaScript Profesional</h3>
                <p>Código Facilito</p>
                <div class="card-actions">
                    <a href="https://codigofacilito.com/certificates/eb3a7bf3-2b63-43b8-ba16-45196b758f2a" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="10.png" alt="Insignia de DevOps: Bases y Conceptos">
            <div class="card-content">
                <h3>DevOps: Bases y Conceptos</h3>
                <p>Código Facilito</p>
                <div class="card-actions">
                    <a href="https://codigofacilito.com/certificates/26c113ad-3677-4526-a7d3-ec1e8c389bab" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="11.png" alt="Insignia de Intermediate Python">
            <div class="card-content">
                <h3>Intermediate Python</h3>
                <p>DataCamp</p>
                <div class="card-actions">
                    <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/01781e3d3ba4a0c671ce49f5545ff59c8d8b6ad1" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="12.png" alt="Insignia de Introduction to APIs in Python">
            <div class="card-content">
                <h3>APIs in Python</h3>
                <p>DataCamp</p>
                <div class="card-actions">
                    <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/db26151fcef5fcbba150e26dc5f60a88d0bc97c9" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="13.png" alt="Insignia de Introduction to Data Science in Python">
            <div class="card-content">
                <h3>Data Science in Python</h3>
                <p>DataCamp</p>
                <div class="card-actions">
                    <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/ef4ca37a51ce38e6bd6c47f55f7867c1d4f97422" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="14.png" alt="Insignia de Object-Oriented Programming in Python">
            <div class="card-content">
                <h3>POO en Python</h3>
                <p>DataCamp</p>
                <div class="card-actions">
                    <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/5e29f837b1c288a0bd6ad079382a2bf1fa695fbd" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="15.png" alt="Insignia de Understanding Artificial Intelligence">
            <div class="card-content">
                <h3>Understanding AI</h3>
                <p>DataCamp</p>
                <div class="card-actions">
                    <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/cebc2717f9d398ea1f2ae15a715592e3fb318fa1" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="16.png" alt="Insignia de Writing Efficient Python Code">
            <div class="card-content">
                <h3>Efficient Python Code</h3>
                <p>DataCamp</p>
                <div class="card-actions">
                    <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/db115496060edac7f4979cceedcadff8d3838bfa" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="17.png" alt="Insignia de Understanding Prompt Engineering">
            <div class="card-content">
                <h3>Prompt Engineering</h3>
                <p>DataCamp</p>
                <div class="card-actions">
                    <a href="https://www.datacamp.com/completed/statement-of-accomplishment/course/0513ef2af5b8f1cf771ee5760a3fbbfde9ebff05" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="18.png" alt="Insignia de Build and Secure Networks in Google Cloud">
            <div class="card-content">
                <h3>Build and Secure Networks</h3>
                <p>Google Cloud</p>
                <div class="card-actions">
                    <a href="https://www.cloudskillsboost.google/public_profiles/2bf89cfb-a62d-403b-aaa0-a83f3cb01a07/badges/6205914?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="19.png" alt="Insignia de Create and Manage Cloud Resources">
            <div class="card-content">
                <h3>Create and Manage Cloud Resources</h3>
                <p>Google Cloud</p>
                <div class="card-actions">
                    <a href="https://www.cloudskillsboost.google/public_profiles/2bf89cfb-a62d-403b-aaa0-a83f3cb01a07/badges/5987748?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="20.png" alt="Insignia de Cloud Computing Fundamentals">
            <div class="card-content">
                <h3>Cloud Computing Fundamentals</h3>
                <p>Google Cloud</p>
                <div class="card-actions">
                    <a href="https://www.cloudskillsboost.google/public_profiles/2bf89cfb-a62d-403b-aaa0-a83f3cb01a07/badges/5987748?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>
        
        <div class="certificado-card">
            <img src="21.png" alt="Insignia de Data, ML, and AI in Google Cloud">
            <div class="card-content">
                <h3>Data, ML, and AI</h3>
                <p>Google Cloud</p>
                <div class="card-actions">
                    <a href="https://www.cloudskillsboost.google/public_profiles/2bf89cfb-a62d-403b-aaa0-a83f3cb01a07/badges/6203052?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="22.png" alt="Insignia de Infrastructure in Google Cloud">
            <div class="card-content">
                <h3>Infrastructure in Google Cloud</h3>
                <p>Google Cloud</p>
                <div class="card-actions">
                    <a href="https://www.cloudskillsboost.google/public_profiles/2bf89cfb-a62d-403b-aaa0-a83f3cb01a07/badges/6200991?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="23.png" alt="Insignia de Networking">
            <div class="card-content">
                <h3>Networking</h3>
                <p>Google Cloud</p>
                <div class="card-actions">
                    <a href="https://www.cloudskillsboost.google/public_profiles/2bf89cfb-a62d-403b-aaa0-a83f3cb01a07/badges/6199621?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="24.png" alt="Insignia de Google Cloud Essentials">
            <div class="card-content">
                <h3>Cloud Essentials</h3>
                <p>Google Cloud</p>
                <div class="card-actions">
                    <a href="https://www.cloudskillsboost.google/public_profiles/2bf89cfb-a62d-403b-aaa0-a83f3cb01a07/badges/6236140?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="25.png" alt="Insignia de Perform Foundational Data, ML, and AI Tasks">
            <div class="card-content">
                <h3>Foundational Data, ML, and AI Tasks</h3>
                <p>Google Cloud</p>
                <div class="card-actions">
                    <a href="https://www.cloudskillsboost.google/public_profiles/2bf89cfb-a62d-403b-aaa0-a83f3cb01a07/badges/6206431?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="26.png" alt="Insignia de Perform Foundational Infrastructure Tasks">
            <div class="card-content">
                <h3>Foundational Infrastructure Tasks</h3>
                <p>Google Cloud</p>
                <div class="card-actions">
                    <a href="https://www.cloudskillsboost.google/public_profiles/2bf89cfb-a62d-403b-aaa0-a83f3cb01a07/badges/6204958?utm_medium=social&utm_source=linkedin&utm_campaign=ql-social-share" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="27.png" alt="Insignia de Python para novatos usando IDLE">
            <div class="card-content">
                <h3>Python para novatos</h3>
                <p>Udemy</p>
                <div class="card-actions">
                    <a href="https://www.udemy.com/certificate/UC-493400ef-f086-4ea9-b310-383b41df4b35/" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="28.png" alt="Insignia de AWS Educate">
            <div class="card-content">
                <h3>AWS Educate: Cloud 101</h3>
                <p>Amazon Web Services</p>
                <div class="card-actions">
                    <a href="https://www.credly.com/badges/5b56285e-133f-49fe-b106-12a0db13862c/linked_in_profile" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="29.png" alt="Insignia de MongoDB Python Developer Path">
            <div class="card-content">
                <h3>MongoDB Python Developer</h3>
                <p>MongoDB</p>
                <div class="card-actions">
                    <a href="https://learn.mongodb.com/c/F3PVCZ0QQ6GyqxXDx5R8sQ" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="30.png" alt="Insignia de Introducción a las Tecnologías Emergentes">
            <div class="card-content">
                <h3>Tecnologías Emergentes</h3>
                <p>Emtech</p>
                <div class="card-actions">
                    <a href="https://emtechdigital2024.thinkific.com/certificates/cuxqb1n9fd" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

        <div class="certificado-card">
            <img src="capacitate_empleo_badge.png" alt="Insignia de Diseñador de experiencia de usuario (UX)">
            <div class="card-content">
                <h3>Diseñador UX</h3>
                <p>Inttelmex IT</p>
                <div class="card-actions">
                    <a href="https://capacitateparaelempleo.org/verifica/5018bb38-7cf9-4d45-9529-8c125b35aa3a/fc0d9350-c00c-46e3-a4fe-3c3e7faf239f" target="_blank" class="btn btn-primary">Ver</a>
                </div>
            </div>
        </div>

    </div>
</main>