<main>
  <div class="hero-section" [@fadeInUp]>
    <h1>Ingeniero en Software. Fullstack Developer<br> y Más</h1>
  </div>

  <div class="segunda-seccion" [@fadeIn]>
    <p>
      Hola, soy David! <br />
      Soy desarrollador de software y me encanta construir cosas útiles con
      código. Me gusta la fotografia y la música. Me gustan los retos, aprender
      cosas nuevas y hacer que las ideas se vuelvan realidad.
    </p>
    <a href="/About">Más sobre mí:</a>
  </div>

  <div  class="tercera-seccion" [@staggerFadeIn]>
    <ul  class="tarjetas-navegacion">
      <li >
        <a href="/certifiaciones">Certificaciones</a>
      </li>
      <li><a href="/projects">Proyectos</a></li>
      <li>
        <a href="/contacto">Contacto</a>
      </li>
    </ul>
  </div>
</main>
