<footer class="footer">
  <div class="footer-container">
    <a routerLink="/" class="logo">MiPortafolio</a>

    <ul class="footer-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/certifications">About</a></li>
      <li><a routerLink="/Proyectos">Proyectos</a></li>
      <li><a routerLink="/Contacto">Contacto</a></li>
    </ul>

    <div class="footer-socials">
      <a href="https://github.com/Cocoyanami" target="_blank"><img src="github.png" alt="Github" class="icono1"></a>
      <a href="mailto:angeldavidmc20001@gmail.com" target="_blank"><img src="gmail.png" alt="gmail" class="icono"></a>
      <a href="https://www.linkedin.com/in/moralesdavidcoco/" target="_blank"><img src="ind.png" alt="Linkedin" class="icono"></a>
      <a href="https://wa.me/527751339753" target="_blank"><img src="whatsapp--v2.png" alt="whatsapp" class="icono4"></a>
    </div>
  </div>

  <div class="footer-bottom">
    <p>© 11/09/2025 MiPortafolio — Todos los derechos reservados</p>
  </div>
</footer>
