<div class="contact-container">
  <div class="contact-info">
    <h2>Contactame</h2>

    <div class="info-item">
      <i class="fas fa-map-marker-alt"></i>
    </div>

    <div class="info-item">
      <i class="fas fa-phone"></i>
      <div>
        <h3>Teléfono</h3>
        <a href="tel:+52 7751339753" target="_blank">+52 7751339753</a>
      </div>
    </div>

    <div class="info-item">
      <i class="fas fa-envelope"></i>
      <div>
        <h3>Correo electrónico</h3>
        <a href="mailto:angeldavidmc20001@gmail.com" target="_blank">
          angeldavidmc20001gmail.com
        </a>
      </div>
    </div>

    <!-- contenedor para los íconos en fila -->
    <div class="iconos-container">
      <a href="https://github.com/Cocoyanami" target="_blank">
        <img src="github1.png" alt="Github" class="icono">
      </a>
      <a href="https://www.linkedin.com/in/moralesdavidcoco/" target="_blank">
        <img src="linkedin.png" alt="Linkedin" class="icono">
      </a>
      <a href="https://wa.me/527751339753" target="_blank">
        <img src="whts.png" alt="Whatsapp" class="icono">
      </a>
    </div>
  </div>
</div>
